.body {
	display: grid;
	place-items: center;
}


.view {
	margin: 10px auto;
	overflow: hidden;
	border: 1px #f96af4 solid;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn {
	width: 5rem;
	height: 2rem;
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	transition: all ease-in 200ms;
}

.btn:hover {
	color: white;
	background-color: black;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	transform: scale(1.1);
}